<br><br>
<div class="container">
  <form #newEntry="ngForm" (ngSubmit)="save(newEntry)">
    <table class="table" style="text-align: left">
      <tr>
        <th>Track </th>
        <th>Titel</th>
        <th>Interpret</th>
        <th></th>
      </tr>
      <tr *ngFor="let entry of entries; index as i">
        <td>{{i+1}}</td>
        <td>{{entry.title}}</td>
        <td>{{entry.artist}}</td>
        <td><input class="button" type="button" value="Löschen" (click)="delete(i)"></td>
      </tr>
      <tr class="form-group">
        <td>{{entries.length+1}}</td>
        <td><input required minlength="1" #title name="title" type="text" placeholder="Titel" ngModel></td>
        <td><input required minlength="1" name="artist" class="form-control" type="text" placeholder="Interpret"
            ngModel></td>
        <td><input class="button" type="submit" value="Speichern">
        </td>
      </tr>
      <br><br>
      <tr style="border-top:2px solid black">
        <td></td>
        <td></td>
        <td><input #album type="text" placeholder="Album" [(ngModel)]="data.album"></td>
        <td><input class="button" type="button" value="Exportieren" (click)="export()"></td>
      </tr>
    </table>
  </form>
</div>