<br><br>
<div class="container">
  <form #newEntry="ngForm" (ngSubmit)="save(newEntry)">
    <table class="table" style="text-align: left">
      <tr>
        <th>Track </th>
        <th>Titel</th>
        <th>Interpret</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr *ngFor="let entry of entries; index as i">
        <td>{{i+1}}</td>
        <td *ngIf="!entry.editMode">{{entry.title}}</td>
        <td *ngIf="entry.editMode">
          <input name="changeTitle" minlength="1" class="form-control" type="text" [(ngModel)]="data.title">
        </td>
        <td *ngIf="!entry.editMode">{{entry.artist}}</td>
        <td *ngIf="entry.editMode">
          <input name="changeArtist" minlength="1" class="form-control" type="text" [(ngModel)]="data.artist">
        </td>
       
        <td><input *ngIf="entry.editMode" class="button" type="button" value="Speichern" (click)="saveChange(i)"></td>
        <td><mat-icon *ngIf="!entry.editMode" (click)="edit(i)">edit</mat-icon></td>
        <td><mat-icon (click)="delete(i)">delete</mat-icon></td>
      </tr>
      <tr class="form-group">
        <td>{{entries.length+1}}</td>
        <td><input required minlength="1" #title name="title" type="text" placeholder="Titel" ngModel></td>
        <td><input required minlength="1" name="artist" class="form-control" type="text" placeholder="Interpret"
            ngModel></td>
        <td><input class="button" type="submit" value="Speichern"></td>
        <td style="padding-left: 43px"></td>
        <td style="padding-left: 43px"></td>
      </tr>
      <br><br>
      <tr style="border-top:2px solid black">
        <td></td>
        <td></td>
        <td><input name="album" #album type="text" placeholder="Album" [(ngModel)]="data.album"></td>
        <td><input class="button" type="button" value="Exportieren" (click)="export()"></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </form>
</div>